.Contacto {
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 183, 166);
  padding: 10px;
  color: rgb(246, 237, 228);
  border-radius: 10px;
}
.Contacto h2 {
  text-align: center;
  margin: 5px;
  color: rgb(246, 237, 228);
}
.Contacto button {
  background-color: rgb(246, 237, 228);
  color: rgb(0, 183, 166);
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}
.Contacto p {
  margin: 10px;
  color: rgb(246, 237, 228);
}
