Main {
  display: flex;
  flex-direction: column;
  background-color: rgb(246, 237, 228);
  align-items: center;
}
Main h1 {
  background-color: rgb(246, 237, 228);
  color: rgb(0, 183, 173);
  margin: 15px;
}
.fondo {
  width: 60%;
  display: grid;
  grid-template-columns: 1fr auto;
}
#intro {
  width: clamp(300px, 50vw, 550px);
  font-size: 1rem;
  color: rgb(0, 183, 173);
}
#fotopers {
  width: 225px;
  height: 225px;
  border-radius: 50%;
}
@media (max-width: 768px) {
  .fondo {
    width: 100%;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  #intro {
    width: 90%;
    font-size: 1.2rem;
    text-align: center;
  }
  #fotopers {
    width: 200px;
    height: 200px;
    margin: 10px;
  }
}
